/* Koruriフォントを適用する */

@font-face {
    font-family: 'Koruri Regular';
    src: url('../fonts/Koruri-Regular-sub.eot');
    src: url('../fonts/Koruri-Regular-sub.eot?#iefix') format('embedded-opentype'), url('../fonts/Koruri-Regular-sub.woff') format('woff'), url('../fonts/Koruri-Regular-sub.ttf') format('truetype');
}
