/* Koruriフォントを適用する */

@font-face {
    font-family: 'Koruri Regular';
    src: url('../fonts/Koruri-Regular-sub.eot');
    src: url('../fonts/Koruri-Regular-sub.eot?#iefix') format('embedded-opentype'), url('../fonts/Koruri-Regular-sub.woff') format('woff'), url('../fonts/Koruri-Regular-sub.ttf') format('truetype');
}

/* コードの部分を直す */

.line-numbers {
    background-color: #252525 !important;
}

/* 謎の影消す */

span {
    text-shadow: initial !important;
}

/* イコールに謎の背景色が当たっているので消す */

.token {
    background-color: initial !important;
}

/* 角を丸めるなど */

pre {
    text-shadow: initial !important;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px 10px 10px 10px !important;
}

/* VuetifyのせいでCodeタグに勝手にCSS適用されるので強制上書き */

.v-application code {
    /* border: 1px solid gray; */
    border-radius: 5px !important;
    font-family: 'Koruri Regular';
    margin: 5px !important;
    font-size: initial !important;
    padding: 5px !important;
}

.v-application code, .v-application kbd {
    font-weight: initial !important;
}

.hljs {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4) !important;
}